@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.parent-div {
    background-image: url('/static/images/bluela.svg');
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center; 
  }
  
input::placeholder{
	color: #CACBCC;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

input {
  color: var(--grey-200, #CACBCC);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-indent: 1rem;
}